#content_area .forgot_password {
	margin: 10px;
}

#content_area .forgot_password #forgot_container {
	width: 510px;
	margin: 25px auto 0px auto;
	border: 1px solid #CCCCCC;
	padding: 20px;
	min-height: 150px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#content_area .forgot_password #forgot_container h4 {
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
}

#content_area .forgot_password #forgot_container form table {
	border-collapse: collapse;
	margin: 20px auto 0px auto;
}

#content_area .forgot_password #forgot_container form table td {
	padding: 2px;
}

#content_area .forgot_password #forgot_container form table td img {
	vertical-align: bottom;
}

#content_area .forgot_password #forgot_container form table td #forgot_email_add {
	vertical-align: bottom;
	border: 1px solid #ABADB3;
	height: 10px;
	width: 250px;
	padding: 5px;
}














 








