.full_width { 
	background: #FFF5C9;
	padding: 3px 0px 0px 0px;
	position: relative;
}

.full_width:before, .full_width:after {
	content: "";
	background: #FFF5C9;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 9999px;
}

.full_width:before {
	right: 100%;
}

.full_width:after {
	left: 100%;
}

.full_width:nth-of-type(1), .full_width:nth-of-type(1):before, .full_width:nth-of-type(1):after { 
	background: #FFF5C9; 
}

.full_width:nth-of-type(2), .full_width:nth-of-type(2):before, .full_width:nth-of-type(2):after { 
	background: #FFF5C9; 
}

.full_width:nth-of-type(3), .full_width:nth-of-type(3):before, .full_width:nth-of-type(3):after { 
	background: #FFF5C9; 
}

.left-only:after {
  display: none;
}

.right-only:before {
  width: 20px;
}



