#image_popup_container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../images/popup_background.png');
	display: none;
}

#image_popup_container .close_image {
	top: 0px;
	right: 190px;
	position: absolute;
	font-size: 50px;
	color: red;
	text-decoration: none;
	background-color: #DFDFDF;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	padding: 10px;
	z-index: 10;
}

#image_popup_container #image_popup {
	position: relative;
	border: 1px solid #ABADB3;
	width: 570px;
	max-height: 445px;
	overflow: scroll;
	margin: 15px auto 0px auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #F7F7F7;
	text-align: center;
	padding: 10px;
}

#image_popup_container #image_popup img {
	width: 532px;
	height: 348px;
	border: 10px solid #DFDFDF;
	display: block;
	margin: 20px auto 0px auto;
}

#image_popup_container #image_popup h1 {
	margin-top: 15px;
	font-size: 20px;
}

#image_popup_container #image_popup p {
	margin-top: 10px;
}












