#content_area .my_location {
	margin: 10px;
}

#content_area .my_location h3 {
	color: #F95811;
	font-weight: bold;
	font-size: 18px;
}

#content_area .my_location h3 span.log {
	color: #5C5C5C;
}

#content_area .my_location #map {
	margin-top: 15px;
}












 








