#content_area .read_news {
	margin: 10px;
}

#content_area .read_news h3 {
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#content_area .read_news .content {
	font-family: cambria;
	margin-top: 10px;
	padding: 10px;
	border-box: box-sizing;
	-moz-border-box: box-sizing;
	-webkit-border-box: box sizing;
}
























