#content_area .search {
	margin: 10px;
}

#content_area .search h3 {
	color: #F95811;
	font-weight: bold;
	font-size: 18px;
}

#content_area .search h3 span.log {
	color: #5C5C5C;
}

#content_area .search p {
	text-align: center;
}

#content_area .search a {
	color: #F95811;
}









 








